@media only screen and (min-width:0px) and (max-width:767px) {
    .fixed-me .contac-nav {
        background: #383838;
        color: white;
    }
    .fixed-me .contac-nav a {
        color: white;
    }
    .nav__menu {
        width: 100%;
        align-items: center;

        }
        .info-card-1 p {
            padding-top: 10px;
        }
    .nav-item {
        font-size: 25px;
        justify-content: center;
        padding: 12px;
    }
    .nav-item a {
        color: #383838;
    }
    a.logo-main {
        width: 70%;
    }
    .fixed-me .container.container-1 {
        padding-left: 0px;
        padding-right: 0px;
    }
    header.header__main.navbar-me.back {
        height: 120vh;
    }
    .container.container-2 {
        flex-direction: column;
    }
    .container.container-2 {
        padding-top: 295px;
        padding-bottom: 150px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .icons-header{
    justify-content: center;
    position: relative;
    top: 30px;
    }
    .H-description {
        height: 50%;
        bottom: 0;
        justify-content: flex-end;
    }
    .formule {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .triangles-header-right{
        width: 100%;
        height: 65vh;
    bottom: 0;
    }
    .T1,.T-2,.T-3,.T-4,.T5{
        height: 45vh;
        width: 45vh;
        transform: rotate(82deg);
    } 
    .T1 {
        top: 8pc;
        right: -4pc;
    }
    .T-2 {
        top: -5pc;
        right: -6pc;
    }
    .T-3 {
        top: -18pc;
        right: -7pc;
    }
    .T-4 {
        top: -31pc;
        right: -9pc;
    }
    .T5{
    transform: rotate3d(7, -1, 5, -22deg);
    top: -114pc;
    right: -4pc;
    }
    /*ICONS CLIENTS*/
    .container.container-c {
        flex-direction: row;
    }
    .title-clients {
        position: relative;
    }
    .icons-clients{
        justify-content: center;
    }
    .icon-c{
        max-width: 100%;
        margin-left: 0;
    }
    .rectangulo {
        width: 25vh;

        }
    /*SERVICE*/
    section.service {
        height: auto;
        padding-bottom: 70px;
    }
    .title {
        text-align: center;
        padding-bottom: 40px;
    }
    .container.flex-service {
        flex-direction: column;
    }
    .row.row-s1, .row-s2 {
        width: 100%;
        align-items: center;
    }
    .servi-left{
        padding: 0;
        height: 465px;
        width: 100%;
    }
    .im-card1 {
        height: auto;
    }
    .info-card-1 {
        padding-top: 75px;
        justify-content: center;
        align-items: center;
    }
    .button-lear {
        left: 0;
    }
    img#img-service--card {
        max-width: 145px;
        margin-top: 30px;
        right: 41px;
    }
    .triangle-service img {
        object-fit: contain;
        object-position: 36px 102px;
        transform: rotate( 271deg);
        height: 40vh;
        width: 293px;
    }
    
    div#description-about {
        padding: 20px;
    }
    .container.container-1.container.container-1{
        align-items: center;
    }
.header-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
    .triangle-service {
        right: 0px;
        height: 275px;
    }

        .triangle-service {
            right: 0px;
            height: 293px;
        }
        .text-certificatess h2, .H-description h1, .icons-header h3, .icons-header i {
            color: white;
            text-align: center;
        }
        .button-lear a, .icons-title h3, .text-certificatess h3, .H-description h5 {
            color: #bd980c;
            text-align: center;
        }

.i-lower {
    padding-left: 0;
}
        #about > div > div.info-about > div > div.icons-title > h3, div#description-about, .i-lower{
          
            text-align: center;
        }
        section.new-letter .row .col-md-6{
            padding-top: 0;
        }
    /*ABOUT US*/
    .triangle-rigth img {
        height: 55vh;
        transform: rotate( 76deg);
        right: -19pc;
        top: 29pc;
    }
    .triangle-rigth {
    overflow: hidden;
    width: 100%;
    }
    .serv-row {
        flex-direction: column;
    }
    section#about {
        height: auto;
    }
    .info-about {
        padding-right: 0;
        width: 100%;
        max-width: 100%;
        flex: auto;
        left: 0;
        padding-top: 35pc;
    }
    .btn-read {
        height: 135px;
    }
    div#description-about p {
        margin: 0!important;
    }
    .text-certificatess {
        top: 30pc;
        margin-left: 1pc;
    }
    /*BENEFITS*/
    section#benefits {
        height: auto;
    }
    .triangles-b1 {
        flex-direction: column;
    }
    /*rEVIEWS*/
    .testimonio {
        padding-left: 0;
    }
    .img-clients {
        height: 20vh;
        width: 25vh;
    }
    .content-img {
        width: 100%;
    }
    .text-name {
        margin-left: 0pc;
        width: 70%;
    }
    .p {
        position:inherit;
        width: auto;
        margin-left: 0;
        margin-top: 5pc;
        padding-left: 30px;
        padding-right: 30px;
    }
    button.slick-prev.slick-arrow, button.slick-next.slick-arrow {
    right: 15px;
    height: 50px;
    width: 50px;
    background-size: 38px;
    }
    button.slick-next.slick-arrow {
    top: 27pc;
    transform: inherit;
}
button.slick-prev.slick-arrow {
    display: none !important;
}
.btn-reviews {
    top: -13px;
    padding-right: 103px;
    width: 90%;
}
.reviws .triangles-icons {
    flex: 0 8%;
}
.triangle-r-i {
    height: 110vh;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 0;
    top: 0;
}
.triangle-r-i {
    width: 100%;
    height: 112.4vh;
}
.t-r-1 {
    width: 107%;
    height: 111vh;
    left: -15pc;
    top: 3pc;
}
.t-r-2 {
    left: -18pc;
    top: -57.6pc;
}
.t-r-3 {
    left: -25.6pc;
    top: -114.6pc;
}
.div-t-4-r {
    left: -74px;
    top: 721px;
    width: 13vh;
}
h3.title-i {
    margin-left: 0;
}
.responsive.slick-initialized.slick-slider.slick-dotted {
    width: 100%!important;
    height: 30vh!important;
    padding-top: 120px;
    padding-bottom: 42px;
}
h3.title-i {
    width: 100%;
    align-items: baseline;
    margin-top: 17px;
    justify-content: center;
    color: #bd980c;
    font-size: 34px;
}
section.new-letter {
    background-size: 123vh;
    background-position: center;
}
.triangles-icons {
    flex: 0 11%;
}
.mask-input #icons-triangle h2 {
    margin-left: 40px;
}
/*FOOTER*/
.img-contact {
    width: 75%;
}
.contact-i {
    height: 25vh;
}
.footer-menu .row {
    flex-direction: column;
    justify-content: center;
}
.col-4.ul-page, .col-4.ul-contact, .col-4.img-logo{
    max-width: 100%;
    width: 100%;
}
.copyrigth img {
    width: 25%;
}
.triangles-footer {
    width: 100%;
    }
    .t-f1 {
        height: 70vh;
        right: -8pc;
        bottom: -35pc;
    }
    .t-f2 {
        right: -16pc;
        bottom: -1pc;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .nav-item a {
        color: #000;
    }
.new-letter {
 
    height: 35vh;
}
.nav-link {
    padding: 0 10px;
    padding-bottom: 35%;
}
.triangle-rigth img {

    top: -18%;
}
.nav__menu{
    align-items: center;
}
.fixed-me .container.container-1{
    align-items: center;
}
a.logo-main {
    width: 33%;
}

section#benefits {

    height: auto;
}

section#about {
    height: auto;
    padding-bottom: 100px;

}
section.service {
    height: auto;
    padding-bottom: 100px;
}
.button-lear {
left: 0px;
}
.H-description{
    height: 100%;
    justify-content: center;
    padding-top: 100px;
}
.servi-left{
    padding: 0;
    display: block;
    height: 45vh;
}
.row-s2 {
    position: relative;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
}
.triangle-service img {
    object-position: -4px -27px;
    width: 240px;
    
}

.info-card-1 p {
    padding-top: 26px;
}
.info-card-1 {
    flex: 0 50%;
    padding-top: 41px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.im-card1{
    height: auto;
}
#img-service--card {
    max-width: 107px;
    margin-top: 4px;
    margin-left: 74px;
    right: 44px;
}
.text-name {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 45px;
    margin-left: 0pc;
}
.h2-card1 h2 {
    font-size: 17px;
}
.img-clients {
    border-radius: 41px;
    height: 30vh;
    width: 31vh;
    z-index: 2;
}
}
@media  (min-width:1024px) and (max-width:1366px){




}
@media only screen and (min-width:1025px) and (max-width:1440px) {
    /*BANNER*/
    .container.container-2 {
        padding-left: 75px;
        padding-right: 80px;
    }
    .icons-header {
    position: absolute;
    }
    .H-description {
        height: 100%;
        justify-content: center;
    }
    .triangles-header-right {
        width: 55%;
        }
    .T1, .T-2, .T-3, .T-4 {
        height: 120vh;
        width: 120vh;
        transform: rotate(45deg);
    }
    .T5{
    height: 50vh;
    width: 50vh;
    transform: rotate3d(7, -1, 5, -51deg);
    }
    .T1{
        top: -8pc;
    right: -2pc;
    }
    .T-2{
    top: -54pc;
    right: -5pc;
    }
    .T-3{
    top: -100pc;
    right: -9pc;
    }
    .T-4{
        top: -146pc;
    right: -12pc;
    }
    .T5{
    top: -194pc;
    right: -15pc;
    }
    .title-clients {
    position: absolute;
    }
    .icons-clients {
    justify-content: flex-end;
    }
    .icon-c {
    max-width: 10%;
    margin-left: 50px;
    }
   
}